.userInputAreaWidth {
  width: 100%;
}

.dark{
  background-color: darkgrey;
}

.large{
  font-size: 2em;
}

.remove{
  border-radius: 10px;
  background-color: red;
  color: white;
}

.textAreaMinWidth {
  min-width: 100%;
  min-height: 500px;
  border: 3px solid black;
}
