.userInputAreaWidth {
  width: 100%;
}

.dark{
  background-color: darkgrey;
}

.container{
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type="text"]{
  margin-bottom: 1%;
}

input[type="text"]:focus{
  background-color: lightgreen;
}

.large{
  font-size: 2em;
}

.remove{
  border-radius: 8px;
  font-size: .8em;
  background-color: red;
  color: white;
  margin-bottom: 1%;
}

.textAreaMinWidth {
  min-width: 100%;
  min-height: 500px;
  border: 3px solid black;
}

.message{
  margin-left: 2%;
  margin-right: 2%;

}

.boldUser {
  font-size: 1.25em;
  font-weight: bolder;
}

p:nth-child(even){
  background: lightgreen;
}

.smallLogo {
  width: 50%;
}
